* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

li {
  list-style-type: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
}

header nav {
  position: sticky;
  top: 0;
  padding: 10px 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: chartreuse;
  color: white;
}

header nav #logo {
  min-width: 10vw;
}

header #logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.navPart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navPart .fa-bars,
.navPart .fa-xmark {
  display: none;
}

#navItems ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

/* Hero section */
#about {
  padding: 20px;
  height: calc(100vh - 85px);
  width: 100vw;
  display: flex;
  background: url("../assets/images/hero_image.jpg") rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  align-items: center;
  background-size: cover;
}

#left {
  padding: 0 20px;
  width: 100%;
}

#left #content {
  display: block;
  margin: 0 auto;
  padding: 50px 15px;
}

#left h1 {
  font-family: sans-serif;
  font-size: 32px;
  color: white;
}

#left p {
  font-family: sans-serif;
  font-size: 20px;
  margin: 15px 0;
  text-align: justify;
  min-width: 70%;
  width: 50%;
  color: white;
}

#left #buttons button {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

#left #buttons .resumeBtn {
  background-color: bisque;
}

#left #buttons .projectBtn {
  background-color: chartreuse;
  font-weight: bold;
}

/* skills */
#skills,
#projects,
#contact {
  padding: 50px 20px;
}

h4.heading{
  font-size: 30px;
}

#skills h4,
#projects h4,
#contact h4 {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

#skills .container,
#projects .container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#skills .container .card,
#projects .container .card {
  border: 1px solid black;
  padding: 20px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#skills .container .card:hover,
#projects .container .card:hover {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
}

#skills .content p {
  padding: 0 10px;
}

/* Projects */
#projects .container .card .img {
  width: 100%;
  margin-bottom: 10px;
}

#projects .container .card .img img {
  width: 100%;
  object-fit: cover;
}

/* Contact */
#contact .container {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact .container form {
  width: 100%;
  padding: 25px 50px;
  border-radius: 8px;
  border: 1px solid grey;
}

#contact .container form input,
#contact .container form label {
  display: block;
  outline: none;
}
#contact .container form input,
#contact .container form input[type="submit"],
#contact .container form textarea {
  padding: 5px 10px;
}

#contact .container form input[type="submit"] {
  cursor: pointer;
  background-color: chartreuse;
  font-weight: bold;
}

#contact .container form label {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

#contact .container form input,
#contact .container form textarea {
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: sans-serif;
  resize: none;
  border: 1px solid grey;
  outline: none;
}

footer {
  padding: 20px;
  background-color: chartreuse;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

@media screen and (min-width: 600px) and (max-width: 850px) {
  header nav {
    padding: 10px 50px;
  }

  nav .navPart {
    padding: 0 20px;
    justify-content: flex-end;
  }

  .navPart .fa-xmark {
    display: block;
  }

  /* Hero Section */
  #left h1 {
    font-size: 25px;
  }

  #left p {
    font-size: 18px;
    width: 50vw;
    margin: 10px 0;
  }
  /* Skills */
  #skills,
  #projects,
  #contact {
    padding: 25px 10px;
  }

  .heading {
    font-size: 50px;
  }

  #skills h4,
  #projects h4,
  #contact h4 {
    margin-bottom: 15px;
  }

  #skills .container,
  #projects .container {
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }

  #skills .container .card,
  #projects .container .card {
    padding: 10px 5px;
    margin-bottom: 10px;
  }

  #skills .content p {
    padding: 0 5px;
  }

  /* Projects */
  #projects .container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* Contact */
  #contact .container {
    padding: 10px;
  }

  #contact .container form {
    width: 100%;
    padding: 25px 25px 16px;
    border-radius: 4px;
  }

  #contact .container form input,
  #contact .container form input[type="submit"],
  #contact .container form textarea {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: normal;
    padding: 2px 5px;
  }

  #contact .container form label {
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 5px;
  }

  #contact .container form input,
  #contact .container form textarea {
    margin-bottom: 10px;
    font-size: 15px;
  }

  footer {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 200px) and (max-width: 599px) {
  header nav {
    padding: 5px 25px;
    position: relative;
  }

  nav .navPart {
    padding: 0 10px;
    justify-content: flex-end;
    /* color: white; */
  }

  #navItems ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 25px;
    right: -250px;
    background-color: chartreuse;
    opacity: 0.9;
    padding: 100px 75px;
    transition: all 0.4s ease-in-out;
  }

  #navItems ul li:hover {
    text-align: center;
    width: 100%;
    background-color: chartreuse;
  }

  #navItems ul li a {
    font-size: 20px;
    color: black;
  }

  #navItems ul a {
    color: black;
  }

  .navPart .fa-bars {
    display: block;
  }

  .navPart .fa-xmark {
    display: none;
    position: absolute;
    align-items: flex-start;
    justify-content: start;
    right: 30px;
    color: black;
    font-size: 20px;
    z-index: 22;
  }

  /* Hero Section */
  #about {
    padding: 10px;
  }

  #left h1 {
    font-size: 23px;
  }

  #left p {
    font-size: 17px;
    text-align: justify;
    margin: 12px 0;
  }

  #left #buttons {
    width: 40%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
  }

  #left #buttons button {
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
  }

  #left #buttons button.resumeBtn {
    margin-bottom: 5px;
  }

  /* Skills */
  #skills,
  #projects,
  #contact {
    padding: 17px 5px;
  }

  h4.heading {
    font-size: 30px;
  }

  #skills h4,
  #projects h4,
  #contact h4 {
    margin-bottom: 12px;
  }

  #skills .content h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  #skills .container,
  #projects .container {
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  #skills .container .card,
  #projects .container .card {
    padding: 10px 5px;
    margin-bottom: 5px;
  }

  #skills .content p {
    padding: 0 8px;
  }

  /* Contact */
  #contact .container {
    padding: 10px;
  }

  #contact .container form {
    padding: 25px 25px 16px;
    border-radius: 4px;
  }

  #contact .container form input,
  #contact .container form input[type="submit"],
  #contact .container form textarea {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: normal;
    padding: 2px 5px;
  }

  #contact .container form label {
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 5px;
  }

  #contact .container form input,
  #contact .container form textarea {
    margin-bottom: 10px;
    font-size: 15px;
  }

  footer {
    padding: 10px;
    font-size: 14px;
  }
}
